<ul>
    <!--List of fruits-->
    <% fruits.forEach((fruit)=>{ %>
        <li>
            <%= fruit.name %>: <%= fruit.qty %> <!--I want to show both values. Therefore we addd the .name sintax -->
        </li>
    <% }); %>
</ul>