<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="../public/css/pokestyle.css">
</head>
<body>
    
    <header>
        <nav class="nav">
            <img src="https://camo.githubusercontent.com/7f1f1e69bef239378a28e8aca7d1d7bd0890d37a7871d01135e2d044da6e2157/68747470733a2f2f692e696d6775722e636f6d2f415975745a4f462e706e67" alt="Logo Pokédex" height="100px" length="20px">
            <!-- search bar -->
            <div class="d-flex justify-content-center h-100">
                <h3 class="heading mt-5 text-center">Hi! What Pokemon you wanna know about?</h3>
                <div class="search">
                    <input type="text" class="search-input" placeholder="search..." id="buscador">
                    <button href="#" class="search-icon" id="search">
                        <a href="https://www.loyola.edu.mx/"></a><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png" style="width: 40px">
                    </button>
                </div>
            </div>
            
        </nav>
    </header>
    <main>
        
        
        <div class="pokemon-todos" id="listaPokemon">
            
        </div>
        

    </main>

    <script src="../server2.js"></script>
</body>
</html>