<%- include("partials/header"); -%>
<div class="container">
        <h1>Hello, < % = name %> 
        </h1>
        <%- include("partials/list"); -%>
    </div>

    <%- include("partials/footer"); -%>
