<div class="objective" id="about">
    <h2>What do we do?</h2>
    <p>Here at MedicDesk, our goal is to ensure that more people have access to healthcare quickly. That's
      why our website offers a preliminary diagnosis in a simple and accessible way through a set of guided
      questions to help users identify potential health issues. All of this is done through a user-friendly
      interface that stores the patient's medical data for a more accurate diagnosis. In any case, it 
      displays a likelihood-ranked list of diseases, allowing the user to decide whether to consult a doctor 
      and which specialist to see.</p>
</div>


<div class="objective2">
    <h2>Panoramic</h2>
    <p>Great strides have been made in improving people’s health in recent years. 146 out of 200 countries 
        or areas have already met or are on track to meet the SDG target on under-5 mortality. The increasing scope of
        deseases warrants the improvement of the quality of services in healthcare delivery. Financial assistance to 
        public health infrastructure and efforts for poverty alleviation are critical for effective measures against infectious disease threats.</p>

        <p>It shouldn't be sidelined, however, that COVID - 19 left a noticable impact in the health of millions both mentally and
        physically. Inadequate access to healthcare systems has made it particularley difficult to access them,
        which denotes a health threat across countries. </p>
</div>
<br>

<div class="challenges">
    <h2>Challenges (According to WHO)</h2>
    <p>The <b><a href="https://www.who.int/" target="_blank">World Health Organization (WHO)</a></b> is an important factor to this matter, as their list of biggest health changes for the next decade 
        demand the involvement of more than the health sector, but the government too should be aware of the increasing tension in the persuasion
        of this objective.</p>
        <br>
</div>