<div class="otherGoals" id="otherGoals">
    <div class="others1">
      <h2><b>Other Goals</b></h2>
      <br>
      <p>If you are interested in any other of the goals which the SDGs are achiving to accomplish, you can learn more on any one of the listed below.
        It'll redirect you to their respective page.
      </p>
    </div>
    <div class="others2">
      <div class="goalsRow1">
        <a href="https://unric.org/en/sdg-1/"><img src="../Images/E-WEB-Goal-01.png" alt="Goal 1" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-2/"><img src="../Images/E-WEB-Goal-02.png" alt="Goal 2" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-3/"><img src="../Images/E-WEB-Goal-03.png" alt="Goal 3" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-4/"><img src="../Images/E-WEB-Goal-04.png" alt="Goal 4" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-5/"><img src="../Images/E-WEB-Goal-05.png" alt="Goal 5" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-6/"><img src="../Images/E-WEB-Goal-06.png" alt="Goal 6" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-7/"><img src="../Images/E-WEB-Goal-07.png" alt="Goal 7" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-8/"><img src="../Images/E-WEB-Goal-08.png" alt="Goal 8" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-9/"><img src="../Images/E-WEB-Goal-09.png" alt="Goal 9" width="160px" height="160px"></a>
      </div>
      <br>
      <div class="goalsRow2">
        <a href="https://unric.org/en/sdg-10/"><img src="../Images/E-WEB-Goal-10.png" alt="Goal 10" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-11/"><img src="../Images/E-WEB-Goal-11.png" alt="Goal 11" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-12/"><img src="../Images/E-WEB-Goal-12.png" alt="Goal 12" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-13/"><img src="../Images/E-WEB-Goal-13.png" alt="Goal 13" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-14/"><img src="../Images/E-WEB-Goal-14.png" alt="Goal 14" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-15/"><img src="../Images/E-WEB-Goal-15.png" alt="Goal 15" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-16/"><img src="../Images/E-WEB-Goal-16.png" alt="Goal 16" width="160px" height="160px"></a>
        <a href="https://unric.org/en/sdg-17/"><img src="../Images/E-WEB-Goal-17.png" alt="Goal 17" width="160px" height="160px"></a>
      </div>
    </div>
  </div>